{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            <h2>Edit poll</h2>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.text.errors }}
                    {{ form.text.label_tag }}
                    {{ form.text }}
                </div>
                <div class="form-group">
                    {% if poll.image %}
                        <label for="id_image">Current Image:</label><br>
                        <img src="{{ poll.image.url }}" alt="Current Image" style="max-width: 200px; height: auto;"><br>
                    {% endif %}
                    {{ form.image.errors }}
                    {{ form.image }}
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <a class="btn btn-danger" href="{% url 'polls:delete_poll' poll.id %}" role="button" onclick="return confirm('Are you sure?')">Delete</a>
                <a class="btn btn-warning" href="{% url 'polls:add_choice' poll.id %}" role="button">Add Choice</a>
            </form>
        <br>
           <!-- Choices section -->
           <h3>Choices</h3>
           <div class="choices">
               {% for choice in poll.choice_set.all %}
               <div class="input-group mb-3">
                   <input type="text" class="form-control" value="{{ choice.choice_text }}" readonly>
                   <div class="input-group-append">
                       <a href="{% url 'polls:choice_edit' choice.id %}" class="btn btn-outline-secondary" type="button">Edit</a>
                   </div>
               </div>
               {% endfor %}
           </div>
           
           <!-- Rest of the form -->
       </div>
   </div>
</div>
{% endblock %}